{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
                {% if sucesso %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ sucesso }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="card text-center">
                    <div class="card-header">
                    Acesse sua conta
                    </div>
                    <div class="card-body">
                        {% if tipo %}
                            <form>
                                <input type="hidden" name="cpf" value="{{ cpf }}">
                                <h5 class="card-title">Conta {{ tipo }}</h5>
                                <p class="card-text">Saldo: R$ {{ saldo }}</p>
                                <a href="{{ url_for('conta', cpf=cpf) }}" class="btn btn-primary">Acessar</a>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ url_for('novaConta') }}">
                                <input type="hidden" name="cpf" value="{{ cpf }}">
                                <button type="submit" class="btn btn-primary">Abrir conta</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
    
