{% extends 'base.html' %}

{% block title %}PyBank | Relatório{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Relatório de Movimentações</h5>
                    <form id="relatorio-form" method="POST" action="/gerar_relatorio">
                        <input type="hidden" value="{{ conta }}" name="conta">
                        <div class="mb-3">
                            <label for="data-inicio" class="form-label">Data de Início</label>
                            <input type="date" class="form-control" id="data-inicio" name="dataInicio">
                        </div>
                        <div class="mb-3">
                            <label for="data-fim" class="form-label">Data de Fim</label>
                            <input type="date" class="form-control" id="data-fim" name="dataFim">
                        </div>
                        <div class="mb-3">
                            <span id="erro" class="text-danger">{{ erro }}</span>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" id="botaoImpressao" class="btn btn-primary">Imprimir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const botaoSubmit = document.getElementById('botaoImpressao');

        // Adicione um ouvinte de evento ao botão
    botaoSubmit.addEventListener('click', function(event) {
        erroSpan = document.getElementById('erro');
        erroSpan.innerHTML = '';
    });

</script>

{% endblock %}

